<div class="container">
  <div class="login-form">
    <img src="../../../assets/images/ISense-red.png" alt="Login Image" class="login-image">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input 
        type="email" 
        formControlName="email" 
        placeholder="Email address" 
        [class.error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
      <div class="error-message">
        Please enter a valid email.
      </div>
    }
      <input 
        type="password" 
        formControlName="password" 
        placeholder="Password" 
        [class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){

      <div class="error-message">
        Password must be at least 6 characters.
      </div>
    }
      <button type="submit" [disabled]="loginForm.invalid">Sign in</button>
    </form>
  </div>
</div>